<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음성 주문</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>음성 주문</h1>
    <button id="voiceOrderButton">음성 주문 시작</button>
    
    <div class="button-container">
        <button class="menu-button" onclick="showMenu('coffee')">커피</button>
        <button class="menu-button" onclick="showMenu('beverages')">음료</button>
    </div>

    <div class="subcategory-container" id="subcategory-container" style="display:none;">
        <button class="subcategory-button" id="espressoButton" style="display:none;" onclick="showSubcategory('espresso')">에스프레소</button>
        <button class="subcategory-button" id="latteButton" style="display:none;" onclick="showSubcategory('latte')">라떼</button>
    </div>

    <div class="menu-container" id="menu-container"></div>

    <script>
        // 서브 카테고리 클릭 시 메뉴를 표시
        function showSubcategory(subcategory) {
            fetch(`/get_menu_items/${subcategory}/`)
            .then(response => response.json())
            .then(data => {
                const menuContainer = document.getElementById('menu-container');
                menuContainer.innerHTML = ''; // 기존 메뉴를 지움
                data.menu_items.forEach(item => {
                    const menuItemDiv = document.createElement('div');
                    menuItemDiv.classList.add('menu-item');
                    // 이미지 경로를 static을 통해 가져옴
                    menuItemDiv.innerHTML = `
                        <img src="{% static 'images/' %}${item.img}" alt="${item.name}">
                        <h3>${item.name}</h3>
                        <p>${item.price} 원</p>
                    `;
                    menuContainer.appendChild(menuItemDiv);
                });
            });
        }
    </script>
</body>
</html>
